.contenedorSkills{
    width: 65%;
    margin: 0 auto;
    padding: 70px 0;
    
}

.contenedorSkills h2,.contenedorSkills p
{
    text-align: center;
}

.contenedorImagenes{
    display: flex;
}
.cuatroImagenes{
    width: 290px;
    margin-left: 15px;
    
   
   
}

